QStatusBar {
    border-top: 1px solid #1e1e1e;
    background: #2b2b2b;
    color: #aaaaaa;
}

QStatusBar::item {
    border: none;
}

QStatusBar QLabel {
    color: #aaaaaa;
    padding: 0px 4px;
}

/* --- Taby dokumentov --- */
ads--CDockWidgetTab ads--CElidingLabel {
    color: #aaaaaa;
}

ads--CDockWidgetTab {
    background: #3c3c3c;
    margin-top: 2px;
    border-left: 1px solid #555555;
    border-top: 2px solid #555555;
    border-right: 2px solid #1e1e1e;
    padding: 2px 2px 0px 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

ads--CDockWidgetTab[activeTab="true"]
{
    background: #2b2b2b;
    border-top: 4px solid #0078d4;
    padding-bottom: 2px;
    margin-top: 1px;
}

ads--CDockWidgetTab[activeTab="true"] ads--CElidingLabel {
    color: #d4d4d4;
}

ads--CDockWidgetTab[focused="true"]
{
    background: #2b2b2b;
    border-top: 4px solid #ff8c00;
    padding-bottom: 2px;
    margin-top: 1px;
}

ads--CDockWidgetTab[focused="true"] ads--CElidingLabel {
    color: #d4d4d4;
}

ads--CDockWidgetTab:hover[activeTab="false"] {
    background: #484848;
}

ads--CDockAreaTitleBar
{
    background: #3c3c3c;
    border-bottom: 1px solid #1e1e1e;
    padding-bottom: 0px;
}

ads--CDockWidgetTab[activeTab="false"] QLabel {
    color: #888888;
}

#tabCloseButton
{
    background: transparent;
    margin-bottom: 1px;
    margin-left: 2px;
    border: none;
    padding: 0px;
    max-width: 16px;
    max-height: 16px;
    min-width: 14px;
    min-height: 14px;
    color: #888888;
    qproperty-iconSize: 12px;
}

#tabCloseButton:hover
{
    border: 1px solid #666666;
    border-radius: 2px;
    background-color: #c0392b;
    color: #ffffff;
}

#tabCloseButton:pressed
{
    background: #e74c3c;
}

#QuickFindWidget {
    border-left: 1px solid #555555;
    border-right: 1px solid #555555;
    border-bottom: 3px solid #0078d4;
    background: #3c3c3c;
}
